* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color:#eeecec;
    text-align: center;
    color: #434343;
    font-size: 1.5rem;
    font-display: swap;
    font-family: 'Josefin Sans', sans-serif;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    width: 100%;
}

a {
    text-decoration: none;
    color: #037fd8;
}
a:link {
    text-decoration: none;
    color: #037fd8;
}
a:hover {
    text-decoration: underline;
}
a:active {
    text-decoration: none;
    color: #037fd8;
}
a:visited {
    color: #037fd8;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-display: swap;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.25rem;
    color: #011c3ef5;
    margin: 1rem 0;
}
h1 {
    font-size: 6rem;
}
h2 {
    font-size: 5rem;
    font-weight: lighter;
}
h3 {
    font-size: 4rem;
    color: #202020 !important;
}
h4 {
    font-size: 3rem;
    color: #585858 !important;
}
h5 {
    font-size: 2.5rem;
    color: #585858 !important;
    font-weight: normal;
}
h6 {
    font-size: 2rem;
    color: #585858 !important;
    font-weight: normal;
}

nav {
    display: grid;
    grid-template: 
    "index description";
    padding: 2rem 1.3vw;
    width: fit-content;
    align-self: center;
    border: 0.15rem solid #888787;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
}
nav ul {
    text-align: left;
    grid-area: index;
    line-height: 2.3rem;
    margin-left: 0;
}
nav ul li {
    list-style: none;
    text-align: left !important;
}
nav ol {
    font-size: 1.3rem;
    color: #03548f;
    margin-left: 2rem;
}
nav ol li {
    list-style: decimal;
    font-size: 1.3rem;
    text-align: left !important;
}
nav h2 {
    grid-area: description;
    padding-left: 3vw;
}

section {
    display: grid;
    grid-template: 
    "title"
    "scontent";
    padding: 2rem 1.5rem;
    width: fit-content;
    align-self: center;
    border: 0.15rem solid #888787;
    border-radius: 0.5rem;
    margin-bottom: 3rem;
    line-height: 1.9rem;
}
section h3 {
    grid-area: title;
    text-align: center;
    line-height: normal;
}

section h4, h5, h6 {
    text-align: center !important;
    line-height: normal;
}
section ol, ul {
    margin-left: 1.5rem;
    margin-right: -1rem;
    color: black;
    text-align: left !important;
}
section li {
    text-align: left !important;
}
section * {
    text-align: justify;
}

footer {
    margin: 3rem 0;
    font-size: 2rem;
}


/* CLASSES */
.highlight {
    color: #e46d0b;
}
.emphasis {
    color: red;
}

/* ID */
#start {
    width: 100%;
    height: 5vh;
}