@font-face {
    font-family: 'Kaushan Script', cursive;
    src: url('../fonts/KaushanScript-Regular.ttf');
    font-display: swap;
} 

#jossy_banner_about {
    color: #FAEBD7;
    background-color: #011C3E;
    font-family: 'Kaushan Script';
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 5px 0;
    position: fixed;
    z-index: 10;
    bottom: 0;
    left: 0;
    right: 0;
}
#jossy_banner_about a {
    color: white;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    position: absolute;
    right: 15px;
    bottom: 6px;
}

#jossy_banner {
    color: #FAEBD7;
    background-color: #011C3E;
    font-family: 'Kaushan Script';
    font-size: 1.3rem;
    text-align: center;
    width: 100%;
    height: fit-content;
    padding: 5px 0;
    position: fixed;
    z-index: 10;
    top: 0;
}
#jossy_banner a {
    text-decoration: none;
    color: #FAEBD7;
}
#jossy_banner a:link {
    text-decoration: none;
    color: #FAEBD7;
}
#jossy_banner a:hover {
    text-decoration: none;
    color: #FAEBD7;
}
#jossy_banner a:active {
    text-decoration: none;
    color: #FAEBD7;
}
#jossy_banner a:visited {
    text-decoration: none;
    color: #FAEBD7;
}