@media only screen and (max-device-width: 57rem) and (orientation: portrait) {
    #desktop {
        flex-flow: column wrap !important;
    }
    .file {
        min-width: 30% !important;
        max-width: 45% !important;
    }
}

