
* {
    padding: 0;
    margin: 0;
    box-sizing: content-box;
}
html {
    background-color: #264b6c;
}
body {
    color: white;
    font-family: 'Lato', sans-serif;
}
a {
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 1rem;
}
h1 {
    margin-top: 3rem;
    font-family: 'Source Code Pro', monospace;
}
h2 {
    font-family: 'Source Code Pro XLI', monospace;
}
h2 span {
    font-family: 'Source Code Pro XBI', monospace;
    font-style: italic;
    animation-name: insertionPoint;
    animation-duration: 200ms;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}
header {
    text-align: center;
}
main {
    display: flex;
    justify-content: center;
    padding: 1.5rem 0;
    width: 100%;
    height: 90vh;
}



.options {
    font-size: 1rem;
    font-family: Calibri;
    color: white;
    width: 100%;
    padding: 3px 0;
    text-align: center;
}
.language {
    background-color: #262626;
}
.accessibility {
    background-color: #3f3f3f;
}

#desktop {
    background-color: #F3F3F3;
    border: 1px solid #F3F3F3;
    border-radius: 3rem;
    width: 95%;
    height: 100%;
    font-size: 1.5rem;
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.file {
    min-width: 12rem;
    max-width: 20%;
    margin: 1.5rem;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    cursor: pointer;
    display: grid;
    grid-template:
    "img" 1fr
    "txt" 0.4fr;
}
.file img {
    width: 100%;
    grid-area: img;
}
.file .selected {
    visibility: hidden;
}
.file span {
    width: 100%;
    text-align: center;
    grid-area: txt;
}